extends layout

block content
  h1= title

  table.table.table-stripped
    thead
      th
        | ID
      th
        | Type
      th
        | Date
      th
        | Info
    tbody
      each box in boxes
        tr
          td #{box.external_id}
          td #{box.type}
          td #{box.date}
          td #{box._info}



